common --enable_bzlmod
build --workspace_status_command=build/bazel/workspace-status.sh
build --lockfile_mode=error
build --show_timestamps
build --action_env=HOME
build --disk_cache=/var/cache/bazel/disk/v2ui
build --experimental_disk_cache_gc_max_size=20G
build --repository_cache=/var/cache/bazel/repo
build --build_metadata=REPO_URL=https://github.com/anvil008/v2ui
build:ci --build_metadata=ROLE=CI
build:agent --build_metadata=ROLE=AGENT
